@import './_general.sass'

.footer
  @include displays(flex, center, space-between, row) // Fila en pantallas grandes
  padding-bottom: 40px
  gap: 1rem
  flex-wrap: wrap 
  @include font-style(0.8rem, 400, gray)
  width: 100%

  .footer-links,
  .footer-languages
    display: flex
    flex-wrap: wrap 
    gap: 1rem

  .footer-links
    width: 100% 
    justify-content: center

  .footer-languages
    width: 100% 
    justify-content: center

  @include respond-to(mobile)
    flex-direction: column 
    align-items: center

    .footer-links,
    .footer-languages
      justify-content: center
      width: 100%

.footer a
  color: gray
  text-decoration: none
  &:hover
    text-decoration: underline
